@inherits LayoutComponentBase

@page "/"

<PageTitle>Home</PageTitle>

<div class="Startside">
    <nav class="topbar">
        <div class="nav">
            <NavLink href="/" class="nav-link home">Hjem</NavLink>
            <EditForm Model="search" class="search-container">
                <InputText class="nav-link search" @bind-Value="search"></InputText>
            </EditForm>
            <div class="konto">
                <NavLink href="/Opret" class="nav-link Opret" active-class="active">Opret</NavLink>
                <NavLink href="/Login" class="nav-link Login" active-class="active">Login</NavLink>
            </div>
        </div>
    </nav>
    <nav class="sidebar">
        <div class="nav-side">
            <p>TOP 10 FILM</p>
            <ul class="liste">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>1</li>
                <li><a href="/Login">2</a></li>
                <li><a href="/Login">3</a></li>
            </ul>
        </div>
    </nav>
    <nav class="top-movie">
        <div class="Left">
            @if (randomLeft != null)
            {
                <div class="content">
                    <h1>@randomLeft.Titel</h1>
                    <p>@randomLeft.Synopse</p>
                    <p class="line">
                        <span>@randomLeft.Udgivelsesdato</span>
                        <span>@randomLeft.Gennemsnitsanmeldelse</span>
                    </p>
                </div>
                <img src="@ConvertToImageUrl(randomLeft.Plakat)" alt="Random Right Film Image" />
            }
        </div>
        <div class="Right">
            @if (randomRight != null )
            {
                    <div class="content">
                        <h1>@randomRight.Titel</h1>
                        <p>@randomRight.Synopse</p>
                        <p class="line">
                            <span>@randomRight.Udgivelsesdato</span>
                            <span>@randomRight.Gennemsnitsanmeldelse</span>
                        </p>
                    </div>
                <img src="@ConvertToImageUrl(randomRight.Plakat)" alt="Random Right Film Image" />
            }
        </div>
    </nav>
    <nav class="row">
        <div>
            <h1 class="overskrift">Seneste Upload</h1>
            <ul>
                @if (latestFilms != null && latestFilms.Any())
                {
                    @foreach (var film in latestFilms)
                    {
                        <li>
                            <button>
                            <img src="@ConvertToImageUrl(film.Plakat)" alt="Film Plakat" />
                            <p>@film.Titel</p>
                            </button>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
    @* slet *@
    <nav class="row" hidden>
        <div>
            <h1 class="overskrift">hello</h1>
            <ul>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
                <li><img src="images\Dangal.jfif" alt="Billede 1"><p>Tekst 1</p></li>
            </ul>
        </div>
    </nav>
</div>

@code {
    string search = "";

    private FilmDto? randomLeft;
    private FilmDto? randomRight;

    private List<FilmDto> ?latestFilms;

    protected override async Task OnInitializedAsync()
    {
        // Hent de seneste 8 film ved hjælp af ImageService
        latestFilms = await Filmservies.GetLatestFilmsAsync();

        var randomFilms = await Filmservies.GetTwoUniqueRandomFilmsAsync();

        randomLeft = randomFilms.Dequeue();
        randomRight = randomFilms.Dequeue();
    }
    // Metode til at konvertere byte-array til Base64-URL for billedvisning
    private string ConvertToImageUrl(byte[] imageBytes)
    {
        return $"data:image/jpeg;base64,{Convert.ToBase64String(imageBytes)}";
    }
}