@inherits LayoutComponentBase

@* @using Microsoft.AspNetCore.Components.Authorization
@using WebApp.Authentication
@using WebApp.Components.Layout
@inject NavigationManager NavigationManager *@


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/Home.css" />
    <HeadOutlet />
</head>

<body>
    @* <CascadingAuthenticationState> *@
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Beklager, denne side blev ikke fundet.</p>
            </LayoutView>
        </NotFound>
        </Router>
    @* </CascadingAuthenticationState> *@
     @* <Routes /> *@
     <script src="_framework/blazor.web.js"></script>
</body>

</html>


@code{
    // [Inject] private AuthenticationStateProvider AuthStateProvider { get; set; } = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && AuthStateProvider is CustomAuthenticationStateProvider customAuthProvider)
        {
            customAuthProvider.CompleteTokenCheck();
        }
    }
}